/* styles for the map, loaded outside of the main stylesheet because the map is in an iframe */
svg {
  width: 100%;
  height: auto;
}

line {
  stroke-dashoffset: 1000;
}
.coverage {
  pointer-events: none;
}
.coverage > g > circle {
  opacity: 0;
}
.coverage > g > line {
  opacity: 0;
}
.coverage > g > g {
  opacity: 0;
}
.heading {
  opacity: 0;
}
.label {
  cursor: pointer;
}
.heading text,
.label text {
  fill: #515350;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}
.label text {
  font-size: 24px;
}
.heading text {
  font-size: 20px;
}

#legend {
  font-size: 16px;
  line-height: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #221F1F;
  border: 2px solid #d1d2d3;
  padding: 0.5em;
}
#legend span + span {
  padding-left: 1em;
}
#legend > span::before {
  display: inline-block;
  width: 1.5em;
  height: 1em;
  content: '';
  vertical-align: top;
  margin-right: 0.7em;
}
#legend .tv::before {
  background-color: #4378B6;
}
#legend .fm::before {
  background-color: #F06338;
}
#legend .am::before {
  background-color: #FDC713;
}
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
