.btn {
    background: @red;
    color: @white;
    font-weight: 600;
    border-radius: 20px!important;
    padding: 10px 40px!important;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    &:hover {
        background: @darkred;
    }
    &.btn-blue {
        background: @blue;
        &:hover {
            background: @darkblue;
        }
    }
}

.arrow {
    &::after {
        content: "\f345";
        font-family: 'dashicons';
        margin-left: 0.5rem;
        vertical-align: bottom;
        transition: margin-left 0.3s;
    }
    &:hover::after {
        margin-left: 1rem;
    }
}