.widget {
    .widgettitle {
        font-family: @font-header;
        font-size: 45px;
        font-weight: 800;
        line-height: 48px;
        text-transform: capitalize;
        margin-bottom: @measure * 2;
        color: @blue;
    }
}